
<div class="container">

    <form action="/books/insertbook" method="POST" class="form">
        
        <h3 class="title-main">Cadastrar Livro</h3>

        <div class="form">

            <label for="title" class="title-input">Título</label> <br>
            <input type="text" name="title" placeholder="Digite o Titulo" class="input"> <br>

            <label for="pages" class="title-input"> Páginas</label> <br>
            <input type="text" name="pages" placeholder="Digite quantas paginas tem?" class="input"> <br>
        </div>
        <div class="button-area">
            <div class="button">
                <input type="submit" value="Cadastrar" class="btn">
            </div>
        </div>
        
            
    </form>
</div>
